
	/**
	 * see following rows in 'y' table
	 */
	@And("^I see following rows? in #if(!${ownerContext})'?${currentContext}'? ${currentContextType}#{else}'?${currentContext}'? ${currentContextType} in ${ownerContext}#end$")
	public List<WebElement> see_following_row_in_${currentMethod}_table(DataTable rows) {
		
		List<Map<String, String>> rows2 = rows.asMaps(String.class, String.class);
		
		List<WebElement> matchedRows = new LinkedList<WebElement>();
		$tableClassName table = null;
		try {
			table = new ${tableClassName}(getBrowser());
		} catch (TimeoutException e) {
			//case where table doesn't exist
			return matchedRows;
		}
		
		StringBuilder errors = new StringBuilder();
		for (Map<String, String> row : rows2) {
			
			Map<String, String> critera = new HashMap<String, String>();
			
			for (Entry<String, String> entry : row.entrySet()) {
//					System.out.println("{Processing KEY} "+key);
					String value = ExpressionHandler.resolve(entry.getValue());
					switch (entry.getKey()) {
						//case "patientName": {
						//	critera.put(PrescriptionSearchResultTable.COL_NAME_PATIENT_NAME, entry.getValue());			break;
						//}
$columnCaseStatements
					}
					
			}
			List<WebElement> outterRows = table.findAllRows(critera, false);
			
			List<WebElement> collectedRows = new LinkedList<WebElement>();
			collectedRows.addAll(outterRows);
			
${innerTableSeeFollowingRowMethodStatement}

			if (collectedRows.size() <= 0) {
				errors.append(String.format("no row matches critera[%s]\n", critera));
			} else {
				matchedRows.addAll(outterRows);
			}
		}
		
		if (errors.toString().length() > 0) {
			throw new BrowserException(errors.toString());
		}
		
		return matchedRows;
			
	}
	
	
	/**
	 * cannot see following rows in 'y' table
	 */
	@And("^I cannot see following rows? in #if(!${ownerContext})'?${currentContext}'? ${currentContextType}#{else}'?${currentContext}'? ${currentContextType} in ${ownerContext}#end$")
	public void cannot_see_following_row_in_${currentMethod}_table(DataTable rows) {
		try {
			this.see_following_row_in_${currentMethod}_table(rows);
		} catch (BrowserException e) {
			return;
		}
		throw new BrowserException(String.format("no row should matches critera[%s]\n", rows.toString()));

	}

	/**
	 * click following row in 'y' table
	 */
	@And("^I click following rows? in #if(!${ownerContext})'?${currentContext}'? ${currentContextType}#{else}'?${currentContext}'? ${currentContextType} in ${ownerContext}#end$")
	public void click_following_row_in_${currentMethod}_table(DataTable rows) {
		List<WebElement> matcheRows = this.see_following_row_in_${currentMethod}_table(rows);
		$tableClassName table = new ${tableClassName}(getBrowser());
		
		table.clickRow(matcheRows.get(0));
	}
	
	/**
	 * can or cannot see rows in 'y' table
	 */
	@And("I (|can|cannot) see rows in #if(!${ownerContext})'?${currentContext}'? ${currentContextType}#{else}'?${currentContext}'? ${currentContextType} in ${ownerContext}#end")
	public void can_or_cannot_see_rows_in_${currentMethod}_table(String canOrCannot) {
		
		List<WebElement> allRows = null;
		
		try {
			try {
				allRows = new ${tableClassName}(getBrowser()).getAllRows();
			} catch (StaleElementReferenceException e) {
				allRows = new ${tableClassName}(getBrowser()).getAllRows();
			}
		} catch (TimeoutException e) {
			allRows = null;
		}
		if (canOrCannot.trim().equalsIgnoreCase("can")) {
			if (allRows != null && ! allRows.isEmpty()) {
				throw new BrowserException(String.format("rows are expected to be empty, but rows[%s] exists!", StringUtils.join(allRows, ',')));
			}
		} else {
			if (allRows == null || allRows.isEmpty()) {
				throw new BrowserException(String.format("rows are expected to exist, but rows is empty!!"));
			}
		}
	}

	
